*{
  font-family: 'Montserrat', sans-serif;
  padding:0px;
  margin:0px;
}



form{
	background-color: #80747452;
  min-height: 200px;
  width: 100%;
  margin-top: 40px;
  padding: 3%;
}

.description h1{
  text-align: center;
  padding: 2%;
}