*{
  font-family: 'Montserrat', sans-serif;
  padding:0px;
  margin:0px;
}

body{
  background-image:url(../images/flag4.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;

}




form{
	background-color: white;
  min-height: 200px;
  width: 100%;
  margin-top: 40px;
  padding: 2%;
}

.description h1{
  text-align: center;
  padding: 2%;
}

.description p{
  font-size:18px;
  font-weight:400;
}

.description ul{
  font-size:18px;
  font-weight:400;
}

#submit{
background-color: red;
padding: 3px 20px 2px 20px;
border: none;
color: white;
}

#day{
  border: none;
  padding: 5px;
  color: rgb(0, 0, 0);
  border-bottom: solid 1px grey;
}

#month{
  border: none;
  padding: 5px;
  color: rgb(0, 0, 0);
  border-bottom: solid 1px grey;
}

#year{
  border: none;
  padding: 5px;
  color: rgb(0, 0, 0);
  border-bottom: solid 1px grey;
}

::placeholder {
  color: rgb(0, 0, 0);
  font-size:22px;
  font-weight:400;
}

